body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 

  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* all button css start */
.all-button {
  display: inline-block;
}

.all-button .dm{
  height: 45px !important;
  width: 150px !important;
  line-height: 26px !important;
  border-radius: 30px !important;
}

.all-button a {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  /* background-color:  #a9002b ; */
  background-image: linear-gradient(to top, #aa022f, #c62756, #dd457f, #f163aa, #ff82d5);
  color: #fff;
  display: block;
  border-radius: 18px;
  font-size: 14px;
  height: 52px;
  width: 170px;
  line-height: 52px;
  /* padding: 8px 35px; */
  text-transform: uppercase;
  text-align: center;
  transition: .3s;
  -webkit-box-shadow: 1px 8px 32px -10px rgba(148,146,148,1);
  -moz-box-shadow: 1px 8px 32px -10px rgba(148,146,148,1);
  box-shadow: 1px 8px 32px -10px rgba(148,146,148,1);
  /* border: 1px solid  #a9002b ; */
}

.all_header h1{
  font-size: 65px;
  font-weight: bolder;
  color: #484848;
}

.navbar-toggler-icon i{
  color: #ee0c81 !important;
  font-size: 25px;
}
.custom_nav{
 background-color:  #fff!important;
 width: 100%;
 z-index: 999;

}

#mynav ul li a {
  color: #484848 !important;
  letter-spacing: 2px;
  font-weight: 400;
  transition: .5s all;
  padding: 20px 10px !important;
  text-transform: uppercase;
}
#mynav ul li {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0px 6px;
}
#mynav ul li ::after{
  position: absolute;
  content: '';
  transition: .3s all;
  left: 0;
  bottom: 100%;
  height: 100%;
  width: 100%;
  background-color: #ee0c81;
  z-index: -1;

}
#mynav ul li:hover ::after{
  bottom: 0;

}
#mynav ul li a:hover{
  color: #fff !important;
}

/*================================================ Hom page css start======================= */

.bn_svg{
  background: #fff;
}
.banner_bg{
  background-color: #fff;
}
.home_second_section{
  background-color: #fff;
}

.left{
  height: 100vh !important;
}
.left_inner_content{
  position: relative;
  top: 25%;
}

.left_inner_content h5{
  color:  #484848;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* .left_inner_content h1{
  font-size: 65px;
  font-weight: bolder;
  color: #484848;
  letter-spacing: 1px;
} */

.left_inner_content p{
  font-size: 18px;
  color: #484848;
}
.right{
  height: 450px !important;
  overflow: hidden;
}

.right img{
  position: relative;
  top: 5%;
  height: 100%;
  width: 100%;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

/* Digital part css start */
.header_text h2{
  font-size: 30px;
  color: #484848;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.header_text p{
  font-size: 14px;
  color: #484848;
  padding: 0px 28px;
}
.digital_part{
  transition: .5s all;
  border-radius: 20px;
  padding: 40px 0px;
  /* height: 530px; */
  -webkit-box-shadow: 0px 0px 152px -21px rgba(227,224,227,1);
  -moz-box-shadow: 0px 0px 152px -21px rgba(227,224,227,1);
  box-shadow: 0px 0px 152px -21px rgba(227,224,227,1);
}
.digital_main:hover .digital_image img{
  transform: scale(1.2);
}

.digital_main:hover .digital_image{
  /* background-color: #dd457f; */
  -webkit-box-shadow: 0px 0px 152px -21px rgba(227,224,227,1);
  -moz-box-shadow: 0px 0px 152px -21px rgba(227,224,227,1);
  box-shadow: 0px 0px 152px -21px rgba(227,224,227,1);

}
.digital_image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 200px;
  width: 200px;
  overflow: hidden;
  transition: .5s all;
  border-radius: 50%;
  /* border: 1px solid red; */
  -webkit-box-shadow: 0px 0px 21px -6px rgba(184,182,184,1);
  -moz-box-shadow: 0px 0px 21px -6px rgba(184,182,184,1);
  box-shadow: 0px 0px 21px -6px rgba(184,182,184,1);
}
.digital_image img{
  position: absolute;
  top: 30%;
  left: 32%;
  height: 70px;
  width: 70px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: .5s all;
}

/* .digital_image img:hover{

} */

.digital_text_content{
  text-align: center;
  margin-top: 15px;
}

.digital_text_content h4{
  color:  #c62756;
  text-transform: uppercase;
}

.digital_text_content p{
  color: #484848;
  font-size: 14px;
  padding: 0px 40px;
}
.choose_top_svg{
  background-color: #fff;
}
.choose_main{
  background-color: #fff;
}
.choose_inner_main{
  background-color:    #ee0c81 ;
}

.choose_image{
  text-align: center;
  line-height: 110px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ffffff;
}

.choose_inner{
  /* background-color: #fff; */
  padding: 25px 0px;
  border-radius: 8px;

}
.choose_image img{
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: cover;
}

.choose_text{
  text-align: center;
  padding-top: 20px;
}
.custom_choose_header h2{
  color: #fff !important;
}
.choose_text h4{
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}
.choose_text p{
  color: #f1f1f1f1;
  font-size: 14px;
  padding: 5px 50px;
}
/* ================================================service page css start=========================== */

.service_content{
  height: 100%;
}
.service_header{
  height: 100vh;
}

.service_header_content{
  position: relative;
  top: 15%;
}
/* .service_header_content h1{
  font-size: 55px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #ee0c81 ;
} */

.service_image{
  height: 450px !important;
  width: 100% !important;
  overflow: hidden;
 
}
.service_image img{
  height: 100%;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.service_demo{
  border-radius: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 0px 152px -21px rgba(227,224,227,1);
  -moz-box-shadow: 0px 0px 152px -21px rgba(227,224,227,1);
  box-shadow: 0px 0px 152px -21px rgba(227,224,227,1);
}

.service_demo_image{
  position: relative;
  text-align: center;
  left: 50%;
  line-height: 85px;
  transform: translateX(-50%);
  height: 90px;
  width: 90px;
  bottom: 40px;
  border-radius: 50%;
  background-color: #ee0c81;
}

.service_demo_image img{
  height: 50px;
  width: 50px;
}

.service_demo_text{
  text-align: center;
  position: relative;
  top: -25px;
}

.service_demo_text h4{
  color: #484848;
  text-transform: uppercase;
  font-size: 18px;
}

.service_demo_text p{
  color: #484848;
  font-size: 14px;
  padding: 0px 50px;
}


.service_role_header h2{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.service_role_header p{
  font-size: 14px;
  color: #fff;
}
.service_role_section{
  background-color: #ee0c81;
}

.service_role{
  height: 380px;
}
.service_role_content{
  position: relative;
  top: 35%;
}

.service_role_content h2{
  color: #fff;
  text-transform: uppercase;

}

.service_role_content p{
  color: #fff;
  font-size: 14px;
  padding-right: 35px;
  
}
.service_role_demo{
  border-radius: 20px;
  padding: 30px 0px;
}

.service_role_demo_image{
  position: relative;
  text-align: center;
  left: 50%;
  line-height: 85px;
  transform: translateX(-50%);
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #fff;
}

.service_role_demo_image img{
  height: 50px;
  width: 50px;
}

.service_role_demo_text{
  text-align: center;
  padding: 10px;
}


.service_role_demo_text h4{
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
}


.data_header{
  padding-bottom: 50px;
}

.data_header h2{
  font-size: 30px;
  color: #484848;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
.data_header p{
  font-size: 14px;
  color: #484848;
  padding: 0px 50px;
}
.data_demo{
  border-radius: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 0px 152px -21px rgba(227,224,227,1);
  -moz-box-shadow: 0px 0px 152px -21px rgba(227,224,227,1);
  box-shadow: 0px 0px 152px -21px rgba(227,224,227,1);
}

.data_demo_image{
  position: relative;
  text-align: center;
  left: 50%;
  line-height: 85px;
  transform: translateX(-50%);
  height: 90px;
  width: 90px;
  bottom: 40px;
  border-radius: 50%;
  background-color: #ee0c81;
}

.data_demo_image img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.data_demo_text{
  text-align: center;
  position: relative;
  top: -25px;
}

.data_demo_text h4{
  font-size: 18px;
  color: #484848;
  text-transform: uppercase;
}

.what_data_section{
  background-color: #f4f4f4f4;
}
.what_data_science{
  height: 400px;
  position: relative;
}

.what_data_science_content{
position: relative;
top: 20%;
text-align: justify;
}

.what_data_science_content h2{
  font-size: 35px;
  color: #ee0c81;
  text-transform: uppercase;
}

.what_data_science_content p{
  font-size: 14px;
  color: #484848;
}

.what_data_science_content h4{
  font-size: 18px;
  color: #484848;
}
.what_data_science_content h4 > span{
  font-size: 18px !important;
  color: #fa0c4d;
  margin-right: 5px;
}
.data_science_role{
  height: 400px;
}

.data_science_role_content{
 position: relative;
top: 20%;
text-align: justify;
}

.data_science_role_content h2{
  font-size: 35px;
  color: #ee0c81;
  text-transform: uppercase;
}
.data_science_role_content p{
  font-size: 14px;
  color: #484848;
}
.data_science_role_content h4{
  font-size: 18px;
  color: #484848;
}

.data_science_role_content h4 > span{
  font-size: 18px !important;
  color: #fa0c4d;
  margin-right: 5px;
}



.backto-top{
    
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background:  #ee0c81;
  color: #fff;
  line-height: 40px;
  text-align: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  display: none;
  z-index: 5;
}



/* ============================================== Team part css start================================== */
/* .team_bg{
  height: 100vh;
} */
.card{
  cursor: pointer;
  height: 380px;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 21px -6px rgba(184,182,184,1);
  -moz-box-shadow: 0px 0px 21px -6px rgba(184,182,184,1);
  box-shadow: 0px 0px 21px -6px rgba(184,182,184,1);
}


.front, .back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transform .4s linear;
}
.front img{
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.front{
  transform: perspective(600px) rotateY(0deg);
}
.back{
  background-image: linear-gradient(to top, #aa022f, #c62756, #dd457f, #f163aa, #ff82d5);
  transform: perspective(600px) rotateY(180deg);
  border-radius: 20px;
}

.back-content{
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
}

.back-content a{
  display: inline-block;
  height: 35px;
  width: 35px;
  line-height: 35px;
  margin: 3px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;

}

.back-content a .fb{
color:   #026dd8  !important;

}
.back-content a .in{
  color:   #fa0c4d   !important;
}


.back-content h4{
  color: #fff;
  font-size: 20px;
}

.card:hover > .front{
  transform: perspective(600px) rotateY(-180deg);
}

.card:hover > .back{
  transform: perspective(600px) rotateY(0deg);
}

/* =============================================== price part css start========================= */
.price_digital_header h2{
  font-size: 30px;
  color: #484848;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.price_digital_header p{
  color: #484848 !important;
  font-size: 14px;
}

.price_digital_content{
  border-radius: 20px;
  padding: 30px 0px;
  -webkit-box-shadow: 0px 0px 152px -21px rgba(227,224,227,1);
-moz-box-shadow: 0px 0px 152px -21px rgba(227,224,227,1);
box-shadow: 0px 0px 152px -21px rgba(227,224,227,1);
}

.price_service_image{
  position: relative;
  text-align: center;
  left: 50%;
  line-height: 85px;
  transform: translateX(-50%);
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #fff;
}

.price_service_image img{
  height: 50px;
  width: 50px;
}

.price_digital_content_text{
  text-align: center;
  padding: 10px;
}


.price_digital_content_text h4{
  text-transform: uppercase;
  color: #484848;
  font-size: 18px;
}
.price_digital_content_text p{
  font-size: 14px;
  color: #484848;
}

.price_bg{
  background-color: #ee0c81 ;
}
.price_svg{
  background-color: #ee0c81 ;
}
.price_content{
  height: 100%;
}
.price_header{
  height: 100vh;
}

.price_header_content{
  position: relative;
  top: 25%;
}
/* .price_header_content h1{
  font-size: 65px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #ee0c81 ;
} */

.price_image{
  height: 450px;
  width: 100%;
  overflow: hidden;
 
}

.price_image img{
  height: 100%;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}



.price_main_content{
  background-color: #fff;
  border-radius: 20px;
  transition: .5s all;
  padding: 30px 0px;
 
}

.price_left:hover .price_content_image{
  -webkit-box-shadow: 0px 0px 21px -6px rgba(184,182,184,1);
  -moz-box-shadow: 0px 0px 21px -6px rgba(184,182,184,1);
  box-shadow: 0px 0px 21px -6px rgba(184,182,184,1);
}
.price_content_image{
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #f1f1f1;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.price_content_image img{
  padding-bottom: 15px;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.price_basic_head h4{
  color: #484848;
  letter-spacing: 1px;
  font-weight: 700;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.price_text_content{
  padding-top: 15px;
}
.price_text_content h2{
  font-size: 38px;
  font-weight: bolder;
  color: #ee0c81 ;
  padding-bottom: 10px;
}

.price_text_content h2 span{
  font-size: 18px !important;
  font-weight: 700 !important;
}

.price_text_content p{
  font-size: 14px;
  color: #484848;
  padding: 5px 0px;
}

/* ================================================ contact part css start====================== */
.contact_left_inner_content{
text-align: center;
padding-bottom: 30px;
}


.contact_left_inner_content h2{
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 700;
  color:  #ee0c81;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contact_left{
  height: 450px !important;
  width: 100% !important;
  overflow: hidden;

}

.contact_left img{
  height: 100%;
  width: 100%;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}


.right_form{
  height: 100vh;
}
.custom_form{
  position: relative;
  top: 14%;
}
.form{
  /* position: relative; */
  /* top: 50%; */
  width: 100%;
  padding: 30px;
  /* border: 1px solid #cacaca; */
  -webkit-box-shadow: -1px 0px 15px 0px rgba(219,219,219,1);
  -moz-box-shadow: -1px 0px 15px 0px rgba(219,219,219,1);
  box-shadow: -1px 0px 15px 0px rgba(219,219,219,1);
}

.form h2{
  text-align: center !important;
  position: relative;
  font-size: 25px;
  font-weight: 400;
  color: #6C6C6C;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 40px;

}

.form h2::after{
  position: absolute;

  content: '';
  height: 2px;
  width: 30%;
  left: 35%;
  bottom: -8px;
  background-color:   #c1c1c1   ;
}


.form_input{
  /* padding: 30px 10px !important; */
  height: 55px !important;
}
.form-control{
  font-size: 14px !important;
  overflow: hidden !important;
  background: transparent !important;
  border-radius: 8px !important;
  border:1px solid #ee0c81;


}

.custom_button{
  border: transparent !important;
  color: #fff !important;
  background-image: linear-gradient(to top, #aa022f, #c62756, #dd457f, #f163aa, #ff82d5);
  height: 45px !important;
  border-radius: 8px;

}

/* ==============================================Portfolio part start=========================== */
.portfolio_section{
  height: 100%;
 background-color: #ee0c81 ;
}
.portfolio_main_svg{
background-color: #ee0c81 ;
}
.portfolio_content{
  height: 100%;
}
.portfolio_header{
  height: 100vh;
}

.portfolio_header_content{
  position: relative;
  top: 25%;
}
/* .portfolio_header_content h1{
  font-size: 65px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #ee0c81 ;
} */

.portfolio_image{
  height: 450px;
  width: 100%;
  overflow: hidden;

}

.portfolio_image img{
  height: 100%;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}




.filtering ul li{
  /* color: #000 !important; */
  display: inline-block !important;
  /* margin: 3px 30px !important; */
}

.project_image{
  background-color: #fff;
  border-radius: 8px;
}
.project_image img{
  height: 200px;
  width: 100%;
  border-radius: 8px;

}

.control-active {

  background: #fff  !important;
  color:#ee0c81 !important;
}

.control {
  overflow: hidden !important;
  cursor: pointer;
  height: 45px;
  line-height: 45px;
  width: 150px;
  font-size: 14px;
  border-radius: 2px !important;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 400;
  transition: .5s;
}


.control:hover {
  background: #fff;
  color: #ee0c81;
}



/* ===============================================Blog Post css start======================= */
/* 
.blog_left_post{
  position: fixed;
} */
.author span{
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #484848;
}
.author_image{
  height: 300px;
  width: 100%;
  overflow: hidden;
}

.author_image img{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 8px 8px 0px 0px;
}

.author_name h3{
  color: #484848;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}
.blog_header h2{
  text-transform: uppercase;
  color: #484848;
  font-weight: 700;
}
.cardHeader span{
  text-transform: uppercase;
  position: relative;
  font-size: 14px;
  color: #484848;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.cardHeader span::after{
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #484848;
}
.blog_post{
  padding: 5px 8px;
  text-align: justify;
}
.blog_left_image{
  height: 400px;
  width: 100%;
  overflow: hidden;
  transition: .5s;
}
.blog_left_post{
  border-radius: 8px;
  -webkit-box-shadow: -1px 0px 15px 0px rgba(219,219,219,1);
  -moz-box-shadow: -1px 0px 15px 0px rgba(219,219,219,1);
  box-shadow: -1px 0px 15px 0px rgba(219,219,219,1);
}
.blog_left_post:hover .blog_left_image img{
  transform: scale(1.2);
}
.blog_left_image img{
  transition: .5s all;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 8px 8px 0px 0px;
}

.blog_right_image{
  /* position: absolute; */
  height: 100px !important;
  width: 100px !important;
}

.blog_right_image img{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.sidebar_content_main{
  border-radius: 8px;

}
.blog_left_content h3{
 color: #484848;
 font-size: 18px;
 text-transform: uppercase;
}
.blog_left_content span{
  color:  #949494 ;
  font-size: 10px;
}

.blog_right_content span{
  color:  #949494 ;
  font-size: 12px;
}

.blog_right_content h3{
  font-size: 18px;
  color: #484848;
  text-transform: uppercase;
 }
.blog_left_content{
  padding: 10px 15px;
}
 .blog_left_content,
 .blog_right_content p{
  font-size: 14px;
  color: #484848;
}

/* ================================================ Footer part start ======================== */
.footer_section{
  background-color:#E1DADD;
  height: 200px;
  padding: 60px 0px;
  width: 100%;
  overflow: hidden;
}

.footer{

  text-align: center;
  bottom: 0;
}

.footer h4{
  color: #484848;
  letter-spacing: 1px;
} 

.footer h4 span{
  color:#ee0c81 !important;
  padding-right: 10px;
}
.footer a{
  display: inline-block;
  height: 35px;
  width: 35px;
  line-height: 35px;
  margin: 3px;
  color: #fff;
  font-size: 14px;
  background-color: #484848;
  border-radius: 50%;
  text-align: center;

}

/* ==============================================Responsive css start=========================== */
@media(max-width:575px){
  p{
    font-size: 12px !important;
  }
  .custom_nav{
    position: fixed;
  }
  .all_header h1{
    font-size: 35px !important;
    letter-spacing: 1px;
  }
  #mynav ul li a {
    padding: 15px 10px !important;
  }
  #mynav ul li {
    padding: 5px 0px;
  }
  .left{
    padding: 0px 10px;
    height: 100% !important;
    text-align: center !important;
  }
  .left_inner_content{
    top: 8%;
  }
  .service_header{
    height: 100%;
  }
  .service_header_content{
    top: 8%;
  }
  .service_header_content h1{
    font-size: 35px !important;
    font-weight: bolder;
    color: #484848;
    letter-spacing: 1px;

  }
  
.what_data_science_content{
  position: unset;
  
  }
  
  .what_data_science_content h2{
    font-size: 25px;

  }

  
.data_science_role_content{
  position: unset;
 top: 0;
 text-align: justify;
 }
 
 .data_science_role_content h2{
   font-size: 25px;
 
 }
  .service_role_content{
    text-align: center;
  }

  .price_header{
    padding: 40px 0px;
    height: 100%;
  }
  .left_inner_content h1{
    font-size: 35px !important;
    font-weight: bolder;
    color: #484848;
    letter-spacing: 1px;
  }
  .portfolio_header{
    height: 100%;
    padding: 40px 0px;
  }
  .left_inner_content h5{
    font-size: 14px;
  }

  .left_inner_content p{
    font-size: 12px;
  }

  .all-button a{
    height: 45px;
    line-height: 45px;
    width: 150px;
  }

  .digital_main{
    margin: 10px 0px;
  }
  .service_bg img{
    width: 100% !important;
  }
  .service_bg_inner_content{
    position: unset;

  }
  .service_banner_text h1{
    font-size: 35px;
    font-weight: bolder;
    color: #484848;
    letter-spacing: 1px;
  }
  .service_banner_text p{
    color: #484848;
    font-size: 14px;
    padding-top: 0;
  }

  .digital_m a{
    border-radius: 30px 0px 0px 30px !important;
    width: 80px;
  }
  
  .data_s a{
    border-radius: 0px 30px 30px 0px !important;
    width: 80px;
  }
  .blog_right_image{
    /* position: absolute; */
    height: 100px !important;
    width: 100% !important;
  }
  
}
@media(min-width:768px) and (max-width:991px){
  .custom_nav{
    position: fixed;
  }
  .all_header{
    text-align: center;
  }
  .price_header{
    height: 100%;
    padding-bottom: 20px;
  }
  .service_role_content{
text-align: center;
  }
  .service_role_content p{
    padding: 0px 100px !important;
    
  }

  .portfolio_header{
    height: 100%;
    padding-bottom: 20px;
  }
  .blog_right_image{
    height: 200px !important;
    width: 100% !important;
  }
  p{
    font-size: 10px;
  }

  h4{
    font-size: 15px;
  }
  .left{
    padding: 0px 10px;
    height: 100% !important;
    text-align: center !important;
  }
  .left_inner_content p{
    font-size: 15px !important;
    padding: 0px 100px !important;
  }
  
.digital_text_content p{
  font-size: 10px;
  /* padding: 0px 80px; */
}
.header_text p{
  font-size: 10px;
  /* padding: 0px 80px; */
}
.choose_text p{
  font-size: 10px;
  /* padding: 0px 100px !important; */
  
}
.service_header{
  height: 100%;
}
.digital_text_content h4{
  font-size: 15px;
}
.digital_image {

  height: 120px;
  width: 120px;

}
.digital_image img{

  top: 33%;
  left: 34%;
  height: 40px;
  width: 40px;
}
.all-button .dm{
  height: 35px !important;
  width: 130px !important;
  line-height: 17px !important;
  border-radius: 30px !important;
  font-size: 10px !important;
}

.choose_text h4{
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}
.choose_text p{
  color: #f1f1f1f1;
  font-size: 10px;
  padding: 5px 10px;
}

.service_demo_text p{
  padding: 0px 15px;
}



  }


